/*
.input-wrap-number {
    width: 100%;
}

*/

@font-face {
    font-family: "IBM Plex Sans";
    src: url("IBM-Plex-Sans_static/fonts/IBM-Plex-Sans/IBMPlexSans_latin_400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("IBM-Plex-Sans_static/fonts/IBM-Plex-Sans/IBMPlexSans_latin_400_italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: "IBM Plex Sans";
    src: url("IBM-Plex-Sans_static/fonts/IBM-Plex-Sans/IBMPlexSans_latin_700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("IBM-Plex-Sans_static/fonts/IBM-Plex-Sans/IBMPlexSans_latin_700_italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: "IBM Plex Sans Condensed";
    src: url("IBM-Plex-Sans-Condensed_static/fonts/IBM-Plex-Sans-Condensed/IBMPlexSansCondensed_latin_400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: "IBM Plex Sans Condensed";
    src: url("IBM-Plex-Sans-Condensed_static/fonts/IBM-Plex-Sans-Condensed/IBMPlexSansCondensed_latin_700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




:root {
    --sidebar-width: clamp(25ch, 45ch, 50ch);
    --scalePreview: 1;
    --strokeWidthPrev: 0.2%;
    --color-focus-dark: var(--color-text);
    --color-border: hsl(55, 3%, 45%);
    --color-text: hsl(55, 10%, 20%);
}


html {
    font-size: 20px;
}


body {
    font-family: 'IBM Plex Sans'
}


.h1,
.h2,
.h3,
.btn-default,
.label-span-number,
.label-span-textarea,
select {
    font-family: "IBM Plex Sans Condensed";
    /*font-stretch: 75%*/
}

.btn-neg {
    letter-spacing: 0.03em;
}

.input-wrap-textarea,
.input-wrap-select-one,
.btn-default:not(.btn-neg) {
    --color-icon: var(--color-focus)
}

.btn-default:not(.btn-neg):hover {
    --color-icon: var(--color-background)
}



.input-wrap {
    --color-icon: var(--color-border)
}

.input-wrap:has(input:checked) {
    --color-icon: var(--color-focus)
}


.icn-logo {
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    transform: scale(1);
    height: 1em;
}

/*
.icn-logo {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
*/

.h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.3em;
    line-height: 1.2em;
}

.p {
    font-size: 1rem;
    font-weight: 400;
}


@media (min-width:1024px) {
    html {
        font-size: 16px;
    }
}

.hgh-100vh {
    height: 100vh
}

.input-file-info {
    word-break: break-word;
}

.input-wrap-file:focus,
.input-wrap-file:focus-within {
    box-shadow: none;
}

label:has(+.input-wrap-range) {
    font-weight: 700;
}

.scroll-content {
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
}


:root {
    --color-bg: hsla(55, 10%, 96%, 1);
    --clip: 0%;
    --clipRaster: 0%;
    --translateYImg: 0%;
    --imgScale: 1;
}

body {
    background: var(--color-bg);
}


.sr-only {
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    margin: -1px;
    left: 0;
}


/**
* grid main 
*/


.grd-main {
    display: grid;
    grid-template-areas:
        "aside1 main";

    grid-template-rows: auto auto;
    grid-template-columns: var(--sidebar-width) 1fr;
    transition: 0.3s;

    margin-left: calc(var(--sidebar-width) * -1);
}


.sidebar-wrap {
    grid-area: aside1;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    background-color: var(--color-background);
    z-index: 1;
}


.aside.scrollbar {
    overflow-y: scroll
}


.main {
    height: 100vh;
    width: 100%;
    opacity: 1;

}



/**
* hide nav
*/
/*
.navToggle {
    position: fixed;
    top: 0.5em;
    font-size: 1.5em;
    transition: 0.3s transform;
}
*/

header.header-left {

    .navToggle {
        margin-right: 0;
    }

    font-size:1.25em;
    margin:0;
    margin-top:-1.75em;
    margin-bottom:-1em;
    padding:0;
    padding-top:1em;
    padding-bottom:1em;
    text-align:right;
    position:sticky;
    top:-1.2em;
    z-index:100;
    background-image: linear-gradient(180deg, hsla(55, 10%, 96%, 1), 70%, hsla(55, 10%, 96%, 0) 100%);

}


.header-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    width: 2em;
    ;
    font-size: 1.5em;
    gap: 0;
    row-gap: 0.5em;
    margin: 0;
    justify-content: center;

    .elzoomo-btn {
        background: none;
        text-align: center;
        font-size: inherit;
        display: inline-block;
    }

    .navToggle {
        --color-icon: var(--color-focus)
    }

    * {
        margin: 0;

        &:before {
            display: none;
        }
    }
}



.main .navToggle:has(input:checked) {
    display: none
}

@media(min-width:1024px) {
    .header-left {
        display: none;
    }

    .main .navToggle {
        display: inline-flex !important
    }

}


.preview {
    transition: 0.3s opacity;
}

:has(.showNav:checked) {


    .grd-main {
        margin-left: 0%
    }

    .main {
        width: 100%;
    }
}






@media (max-width:480px) {


    :root {
        --sidebar-width: 100vw;
    }


    .sidebar-wrap {}


    :has(.showNav:checked) {
        .preview {
            opacity: 0.5;
        }
    }
}


@media (min-width:1024px) {

    :root {
        --sidebar-width: 70ch;
    }

    .sidebar-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .navToggle {}



    body:has(.showNav:checked) {
        .navToggle {
            transform: translateX(0ch);
            background-color: transparent;
            padding: 0;
            --color-icon: var(--color-focus);
            border-radius: 0;

        }

        .preview {
            opacity: 1;
        }
    }


}






.main {
    grid-area: main
}





.btn-download {
    margin-right: 0.5rem;
}



/* multi file view */

.svgWrapMulti {
    display: none;
}


.input-file-info {
    max-height: 5lh;
    overflow: auto;
}


.p-caption {
    text-align: center;
    line-height: 1.2em;
    margin-top: 0.5rem;
}


.wrp-loading {
    visibility: hidden;
    position: absolute;
    inset: 0;
    z-index: 2000;
    opacity: 0;
    transition: 0.3s;
    top: 0.5em;

    p {
        text-align: center;
    }
}


a.btn-download-multi {
    display: none;
}


/*
.processing .btn-download-multi 
.btn-download-multi {
    display: none;
}
*/


.multiFile {

    .errorSimplify {
        outline: 2px solid red;
    }

    .svgO,
    .svgWrap,
    #shareUrl,
    #linkEdit,
    #btnCopy,
    .btnCodepen,
    .btn-download-single {
        display: none
    }

    .svgWrapMulti {
        display: grid;
    }

    a.btn-download-multi {
        display: inline-flex;
    }

}

/* hide elements while processing or on init */
.processing {
    .wrp-loading {
        visibility: visible;
        opacity: 1;
    }

    a.btn-download-multi {
        display: none;
    }
}





canvas {
    max-width: 100%;
    outline: 1px solid #ccc
}


.inputSvg {
    svg {
        outline: 1px solid #ccc
    }
}



.btn-download {
    /*
    display: inline-flex;
    padding: 0.5em;
    line-height: 1em;
    border-radius: 0.3rem;
    align-items: center;
    */

    &:hover {
        color: var(--color-bg);
        --color-icon: #fff;

        svg {
            stroke: #fff;
        }
    }
}


.preview {
    position: absolute;
    display: flex;
    align-items: center;
    /* mix-blend-mode: darken; */
    justify-content: center;
    height: 100%;
    width: 100%;
    inset: 0;

    .wrp-zoom svg {
        max-height: 90vh;
        overflow: visible;
        padding: 1em;
    }

    .svgO .pathO {
        --strokeWidthPrev: calc(var(--strokeWidthPrev) / var(--scalePreview, 1));
        transform: scale(var(--scalePreview, 1));
        /* vector-effect: non-scaling-stroke; */
    }

    /*     .svgWrap svg, */


    .path {
        fill: none;
    }

    .svgO {
        vector-effect: non-scaling-stroke;
    }

    .pathO {
        stroke: #ccc;
        stroke-width: calc(var(--strokeWidthPrev, 0.3%) * 4 / var(--zoomScale));
    }


    .pathS {
        fill: #ccc;
        stroke: var(--color-focus);
        stroke-width: calc(var(--strokeWidthPrev, 0.3%) / var(--zoomScale));
    }

}

.showMarkers {
    /*
    path {
        vector-effect: non-scaling-stroke;
    }
    */

    .svgWrap {

        path,
        circle,
        ellipse,
        polygon,
        polyline,
        line,
        rect {
            fill: none !important;
            stroke: var(--color-focus) !important;
            /* stroke-width: var(--strokeWidthPrev, 0.3%) !important; */
            stroke-width: calc(var(--strokeWidthPrev, 0.15%) / var(--zoomScale) / var(--elScale, 1)) !important;
            stroke-linecap: square;
        }
    }


    .svgWrap path,
    .svgWrap polyline,
    .svgWrap polygon,
    .svgWrap circle,
    .svgWrap ellipse,
    .svgWrap line,
    .svgWrap rect,
    .pathS {
        fill: none;
        marker-start: url(#markerStart);
        marker-mid: url(#markerRound);
        /* marker-end: url(#markerRound); */
        stroke-width: 0.3%;
        stroke-width: calc(var(--strokeWidthPrev, 0.3%) / var(--zoomScale, 1));

    }
}

/* show transparency grid */
.main:has([name=showTransparency]:checked) {
    .preview {
        background: linear-gradient(to left, hsla(55, 10%, 96%, 0), 90%, hsla(55, 10%, 96%, 0.9)), repeating-conic-gradient(hsl(55, 10%, 80%) 0% 25%, transparent 25% 50%);
        background-size: 100% 100%, 1em 1em;

        background: repeating-conic-gradient(hsl(55, 10%, 85%) 0% 25%, transparent 25% 50%);
        background-size: 1em 1em;

    }
}




.preview path {}


.dsp-debug {
    display: none;
}


.prevImg,
.prevImg svg {
    overflow: visible;
    max-width: 100%;
    min-width: 100%;
    max-height: 40vh;
    height: auto;
    object-fit: contain;
}


.prevImg,
.imgPreview {}


.prevImg-svg svg {
    /* fill: red; */
    clip-path: inset(-10px var(--clip) -10px 0);
    transform: translateY(var(--translateYImg));
    background-color: #fff;
    width: 100%;
    height: auto;
}

.img-preview-multi {
    width: 100%;
}


/*
.lineCenter {
    stroke: var(--color-focus);
    stroke-width: 2%;
    transform: translateX(0% - calc(var(--clip)));
    stroke-dasharray: 1% 1%;
}
*/

.prevImg-raster {
    /* clip-path: inset(0 0 0 var(--clipRaster))*/
    /* transform: translateY(var(--translateYImg)); */
    image-rendering: pixelated;
    filter: grayscale(1);
    opacity: 0.8;

}

.prevImg-raster {
    transform: scale(var(--imgScale));
}


.prevImg {
    position: absolute;
    inset: 0;
    top: 25%;
    bottom: 0;
}

.toolbar-slider {
    position: absolute;
    width: 100%;
    bottom: 4em;
    left: 0;
    right: 0;
}


/*
.wrp-loading {
    visibility: hidden;
    position: absolute;
    inset: 0;
    z-index: 2000;

    p {
        text-align: center;
    }
}

.processing {
    .wrp-loading {
        visibility: visible;
    }

    .prevImg-raster,
    .prevImg-svg {
        visibility: hidden;
    }

}
*/

.aside {
    .input-wrap-checkbox-switch {
        display: flex;
        width: fit-content;
    }
}


.aside-1 {
    padding-top: 0;

    &>header {
        padding-top: 1em;
        margin: -1px;
    }
}

/* zoom area */
.elzoomo {
    position: relative;
    overflow: hidden;
    line-height: 0px;
    width: 100%;
    height: 100%;


    .elzoomo-toolbar {
        left: 1em;
        top: 3em;
        --color-text: var(--color-focus);
        color: var(--color-focus);
    }

}



.pReport {
    line-height: 1em;
}


.wrp-btns .btn {
    margin: 0;
    margin-left: 0.3em;
    margin-bottom: 0.5em;
}


.col-switch,
.pReport {
    font-weight: 700;
    text-shadow:
        0px 0px 20px var(--color-bg),
        0px 0px 20px var(--color-bg),
        0px 0px 10px var(--color-bg),
        1px 1px 5px var(--color-bg),
        1px 1px 3px var(--color-bg),
        1px 1px 2px var(--color-bg)
}

.wrp-btns {
    .label-span {
        font-weight: 700;
    }
}


/*
.footer:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    top: -1em;
    user-select: none;
    background-image: linear-gradient(180deg, hsla(55, 10%, 96%, 0), hsla(55, 10%, 96%, 1) 30%);

}
*/

.h3 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
}

.h4 {
    font-weight: 700;
}



summary.summary {
    --summary-gap: 0.45em;
}


@media (max-width:1024px) {
    .sidebar-wrap {
        padding: 1em;
    }

    .aside {
        display: contents;
    }

}



.btn-neg {
    --color-background-button: var(--color-focus-dark);
}

.btn-neg:hover {
    --color-background-button: var(--color-focus) !important;
}

details {
    margin-bottom: 0.5em;
}

.input-wrap-number {
    padding-right: 0.2em
}

.a-dialog {
    display: inline-flex;
}



.elzoomo {
    .elzoomo-toolbar {
        left: 1em;
        top: 4em;
        --color-text: var(--color-focus);
        color: var(--color-focus);
    }
}

dialog {

    table {
        width: 100%;
    }

}


/*
.footer {
    font-size: 0.8em;
}
*/

.col-switch,
.col-btns {
    text-align: right;
    align-content: end;
}


@media(max-width:720px) {
    body:has(.showNav:checked) {
        .main {
            width: 200%;
            transform: translateX(-50%)
        }
    }
}


@media(min-width:1024px) {


    .footer {
        font-size: 1em;
    }


    .col-switch {
        align-content: end;
    }

    .col-switch,
    .col-btns {
        text-align: right
    }

    .col-btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .btn-default {
            flex: 0 0 auto;
        }

    }


    .grd-btns {
        grid-template-columns: 0.3fr 1fr
    }

    .col-switch {
        width: 25%;
    }

    .col-btns .col {
        display: contents;
    }

}






/*

.input-textarea {
    font-size: 0.9em;
}


.input-file-info {
    padding: var(--padding-input)
}

.input-file-ul {
    margin: 0;
}
.input-number-btns .input-number-btn {
    background: rgba(0, 0, 0, 0);
    font-weight: 700;
    color: var(--color-icon);
    margin-right: .05em;
    font-size: 1.2em;
    line-height: 0.75em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    padding: 0;
    padding-bottom: 0em;
    text-align: center;
    transform: translateY(0.05em);
}
*/