/** latin **/
@font-face {
 font-family: "IBM Plex Sans";
 src: url("../fonts/IBM-Plex-Sans/IBMPlexSans_latin_100-700_italic_75-100.woff2") format("woff2");
 font-style: italic;
 font-weight: 100 700;
 font-stretch: 75% 100%;
 font-display: swap;
 unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

@font-face {
 font-family: "IBM Plex Sans";
 src: url("../fonts/IBM-Plex-Sans/IBMPlexSans_latin_100-700_75-100.woff2") format("woff2");
 font-style: normal;
 font-weight: 100 700;
 font-stretch: 75% 100%;
 font-display: swap;
 unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

